.header__item__second {
    display: flex;
    height: 1em;
    padding: 0em .5em;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    border-right: .5px solid #ddd;
    width: 100vw;
    font-size: 1em;
    white-space: pre;
}

.header__item__second:first-child {
    justify-content: flex-start;
}

.header__item__second:last-child {
    border-right: none;
    padding: .1em 1em;
}