.box {
    background-color: rgba(243, 243, 243, 0.757);
    backdrop-filter: blur(5px);
    padding: 1.5em;
    height: 27em;
    width: 25em;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgb(203, 203, 203);
}