.news__footer{
    border-left: 5px solid #e91802;
    padding-left: 5px;
}

.news__group:nth-of-type(3) .group__title {
    border-left: 5px solid #ffd930;
}

.news__group:nth-of-type(3) .news__footer {
    border-left: 5px solid #ffd930;
}