body {
    overflow-x: hidden;
    /* background: rgb(247, 231, 10); */
}

:root {
    --footerDesporto: rgb(247, 231, 10);
    --footerMundo: rgb(204, 23, 23);
    --footerAmbiente: rgb(46, 192, 36);
    --footerSociedade: rgb(20, 38, 179);
}
