<!DOCTYPE html>
<html lang="pt-pt">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./assets/css/index.css" />
		<link
			rel="shortcut icon"
			href="./assets/img/smartbitLogo.jpeg"
			type="image/x-icon"
		/>
		<title>SmartNews</title>
	</head>
	<body>
		<header class="cabecalho">
			<nav class="menu">
				<ul class="menu__lista">
					<a href="http://localhost:3000/home/"
						><li class="menu__item">INÍCIO</li></a
					>
					<a href="http://localhost:3000/criarconta"><li class="menu__item">CADASTRAR-SE</li></a>
				</ul>
			</nav>
		</header>
		<main class="conteudo">
			<div class="box">
				<h1 class="box_title">Iniciar Sessão</h1>
				<form class="form" action="" method="post">
					<div>
						<div class="field">
							<span class="field_title">E-mail: </span
							><input
								placeholder="Introduza seu e-mail"
								class="field_input"
								type="email"
								name="email"
								id=""
							/>
						</div>
						<div class="field">
							<span class="field_title">Senha: </span
							><input
								placeholder="Introduza a palavra-passe"
								class="field_input"
								type="password"
								name="senha"
								id=""
							/>
						</div>
					</div>
					<button class="btn-primary form__submit" type="submit">
						Login
					</button>
				</form>
			</div>
		</main>
	</body>
</html>
