.item__news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(3.5em - 20px);
    background-color: #2f2f2f;
    font-size: 1.1em;
}
.item__news:nth-child(even){
    background-color: #363636;
}