.card__titulo {
    font-size: 1.25em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.editor__main .card__titulo {
    color: white;
}