.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 19em;
    width: 25em;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgb(0, 8, 17);
}