.news__card {
	background-color: white;
	margin: 0;
	height: max-content;
}

.reels.news__group .news__card {
    height: fit-content;
}

.news__group .news__card {
    display: flex;
    height: 26em;
    flex-direction: column;
    justify-content: space-between;
}

.news__card:last-child {
	margin-right: 0;
}