@import url("./bootstrap-5.1.1-dist/css/bootstrap.css");
@import url("./reset.css");
@import url("./normalize.css");
@import url("./cabecalho/cabecalho.css");
@import url("./cabecalho/menu.css");
@import url("./cabecalho/menu-lista.css");
@import url("./cabecalho/menu-item.css");
@import url("./cabecalho/cabecalho.css");
@import url("./conteudo/conteudo.css");
@import url("./conteudo/formulario.css");
@import url("./conteudo/formulario-img.css");
@import url("./conteudo/formulario-texto.css");
@import url("./conteudo/formulario-input.css");
@import url("./conteudo/formulario-div.css");
@import url("./conteudo/formulario-submit.css");