<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/2 - Publisher/index.css">
    <title>Document</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="menu">
            <ul class="menu__lista">
                <li class="menu__item">HOME</li>
                <li class="menu__item">LOGO</li>
                <li class="menu__item">MENU</li>
            </ul>
        </nav>
    </header>
    <main class="conteudo">
        <form class="formulario" action="" method="post">
            
        </form>
    </main>
</body>
</html>