.group__title {
    border-left: 5px solid #e91802;
    grid-column: 1/4;
    padding-left: 5px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* margin: .5em 0; */
}

.africa__news .group__title {
    grid-column: 1/5;
}