.news__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    gap: 1em;
    padding: 2em 2em 0 2em ;
    border: none;
    height: fit-content;
}


.news__group:nth-child(2) {
    padding-top: 0;
}