@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto-Regular.ttf");
}

.box_title {
    font-family: Roboto;
    text-align: center;
    color: #2150cf;
    font-weight: 700;
    font-size: 2.6em;
    margin: 0 0 1em 0;
}