.box {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    padding: 1.5em;
    height: 17em;
    width: 25em;
    border-radius: 5px;
    box-shadow: -5px 5px 0px rgb(0, 0, 0);
}