<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./assets/css/index.css" />
		<link rel="shortcut icon" href="./assets/img/smartbitLogo.jpeg" type="image/x-icon">
		<title>Smart News | HOME</title>
	</head>

	<body>
		<header class="header">
			<nav class="header__first">
				<ul class="header__list">
					<li class="header__item">
						<div>
							<img
								class="logo"
								src="./assets/img/smartbitLogo.jpeg"
								alt=""
							/>
						</div>
					</li>
					<li class="header__item">
						<div class="header__sign">
							<a href="#"><img src="" alt="" />Sign in</a>
						</div>
					</li>
					<li class="header__item"><a href="#">Home</a></li>
					<li class="header__item"><a href="#">News</a></li>
					<li class="header__item"><a href="#">sport</a></li>
					<li class="header__item"><a href="#">reel</a></li>
					<li class="header__item"><a href="#">worklife</a></li>
					<li class="header__item"><a href="#">travel</a></li>
					<li class="header__item"><a href="#">future</a></li>
					<li class="header__item"><a href="#">culture</a></li>
					<li class="header__item"><a href="#">more</a></li>
					<li class="header__item">
							<form action="">
								<input
									placeholder="Pesquisar Noticia"
									type="text"
									name=""
									id=""
								/>
							</form>
						</div>
					</li>
				</ul>
			</nav>
			<nav class="header__second">
				<div class="logo__second">NEWS</div>
				<ul class="header__list">
					<li class="header__item__second active">HOME</li>
					<li class="header__item__second">coronavirus</li>
					<li class="header__item__second">Clima</li>
					<li class="header__item__second">videos</li>
					<li class="header__item__second">Mundo</li>
					<li class="header__item__second">Angola</li>
					<li class="header__item__second">Finanças</li>
					<li class="header__item__second">Tecnologia</li>
					<li class="header__item__second">Ciência</li>
					<li class="header__item__second">Historias</li>
					<li class="header__item__second">Entretenimento & Factos</li>
					<li class="header__item__second">Saúde</li>
					<li class="header__item__second">world news TV</li>
					<li class="header__item__second">Fotos</li>
					<li class="header__item__second">Mais</li>
				</ul>
			</nav>
		</header>

		<main class="conteudo">
			<div class="big__card">
			</div>

			<div class="news__group">
				<h2 class="group__title">Notícias</h2>
			</div>
			<div class="news__group">
				<h1 class="group__title Desporto">Desporto</h1>
			</div>
			<div class="reels news__group">
				<div class="reels__header">
					<div>
						<h2 class="reels__titulo">REEL</h2>
						<p>The most amazing videos from the BBC</p>
					</div>
					<span class="reels__button">Visit Reel</span>
				</div>
				<figure class="news__card">
					<img
						class="news__imagem"
						src="./assets/img/naom_61a541f71684b.jpg"
						alt=""
					/>
					<div class="card__body">
						<figcaption class="card__titulo">
							Bob Marley - R.I.P
						</figcaption>
					</div>
				</figure>
				<figure class="news__card">
					<img
						class="news__imagem"
						src="./assets/img/naom_61a541f71684b.jpg"
						alt=""
					/>
					<div class="card__body">
						<figcaption class="card__titulo">
							Bob Marley - R.I.P
						</figcaption>
					</div>
				</figure>
				<figure class="news__card">
					<img
						class="news__imagem"
						src="./assets/img/naom_61a541f71684b.jpg"
						alt=""
					/>
					<div class="card__body">
						<figcaption class="card__titulo">
							Bob Marley - R.I.P
						</figcaption>
					</div>
				</figure>
			</div>

			<div class="africa__news news__group">
				<h1 class="group__title">Continente Africano</h1>
				<figure class="news__card">
					<img
						class="news__imagem"
						src="./assets/img/naom_61a541f71684b.jpg"
						alt=""
					/>
					<div class="card__body">
						<figcaption class="card__titulo">
							Bob Marley - R.I.P
						</figcaption>
						<p class="news__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Blanditiis, enim ipsa! Ea ipsa aliquam
							explicabo nobis voluptates numquam assumenda?
						</p>
						<span class="news__footer">LUANDA</span>
					</div>
				</figure>
				<figure class="news__card">
					<img
						class="news__imagem"
						src="./assets/img/naom_61a541f71684b.jpg"
						alt=""
					/>
					<div class="card__body">
						<figcaption class="card__titulo">
							Bob Marley - R.I.P
						</figcaption>
						<p class="news__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Blanditiis, enim ipsa! Ea ipsa aliquam
							explicabo nobis voluptates numquam assumenda?
						</p>
						<span class="news__footer">LUANDA</span>
					</div>
				</figure>
				<figure class="news__card">
					<img
						class="news__imagem"
						src="./assets/img/naom_61a541f71684b.jpg"
						alt=""
					/>
					<div class="card__body">
						<figcaption class="card__titulo">
							Bob Marley - R.I.P
						</figcaption>
						<p class="news__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Blanditiis, enim ipsa! Ea ipsa aliquam
							explicabo nobis voluptates numquam assumenda?
						</p>
						<span class="news__footer">LUANDA</span>
					</div>
				</figure>
				<figure class="news__card">
					<img
						class="news__imagem"
						src="./assets/img/naom_61a541f71684b.jpg"
						alt=""
					/>
					<div class="card__body">
						<figcaption class="card__titulo">
							Bob Marley - R.I.P
						</figcaption>
						<p class="news__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Blanditiis, enim ipsa! Ea ipsa aliquam
							explicabo nobis voluptates numquam assumenda?
						</p>
						<span class="news__footer">LUANDA</span>
					</div>
				</figure>
			</div>

			<div class="editors__pick">
				<h1 class="editors__title">Editor’s Picks</h1>
				<div class="editor__news">
					<figure class="news__card editor__main">
						<img
							src="./assets/img/reel-landscape.jpg"
							class="main__image"
							alt=""
						/>
						<div class="main__description">
							<figcaption class="card__titulo">
								Bob Marley - R.I.P
							</figcaption>
							<p class="news__description">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Blanditiis, enim ipsa! Ea ipsa
								aliquam explicabo nobis voluptates numquam
								assumenda?
							</p>
							<span class="news__footer">LUANDA</span>
						</div>
					</figure>
					<figure class="news__card editor__card">
						<img
							class="news__imagem"
							src="./assets/img/naom_61a541f71684b.jpg"
							alt=""
						/>
						<div class="card__body">
							<figcaption class="card__titulo">
								Bob Marley - R.I.P
							</figcaption>
							<p class="news__description">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Blanditiis, enim ipsa! Ea ipsa
								aliquam explicabo nobis voluptates numquam
								assumenda?
							</p>
							<span class="news__footer">LUANDA</span>
						</div>
					</figure>
					<figure class="news__card editor__card">
						<img
							class="news__imagem"
							src="./assets/img/naom_61a541f71684b.jpg"
							alt=""
						/>
						<div class="card__body">
							<figcaption class="card__titulo">
								Bob Marley - R.I.P
							</figcaption>
							<p class="news__description">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Blanditiis, enim ipsa! Ea ipsa
								aliquam explicabo nobis voluptates numquam
								assumenda?
							</p>
							<span class="news__footer">LUANDA</span>
						</div>
					</figure>
					<figure class="news__card editor__card">
						<img
							class="news__imagem"
							src="./assets/img/naom_61a541f71684b.jpg"
							alt=""
						/>
						<div class="card__body">
							<figcaption class="card__titulo">
								Bob Marley - R.I.P
							</figcaption>
							<p class="news__description">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Blanditiis, enim ipsa! Ea ipsa
								aliquam explicabo nobis voluptates numquam
								assumenda?
							</p>
							<span class="news__footer">LUANDA</span>
						</div>
					</figure>
					<figure class="news__card editor__card">
						<img
							class="news__imagem"
							src="./assets/img/naom_61a541f71684b.jpg"
							alt=""
						/>
						<div class="card__body">
							<figcaption class="card__titulo">
								Bob Marley - R.I.P
							</figcaption>
							<p class="news__description">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Blanditiis, enim ipsa! Ea ipsa
								aliquam explicabo nobis voluptates numquam
								assumenda?
							</p>
							<span class="news__footer">LUANDA</span>
						</div>
					</figure>
					<figure class="news__card editor__card">
						<img
							class="news__imagem"
							src="./assets/img/naom_61a541f71684b.jpg"
							alt=""
						/>
						<div class="card__body">
							<figcaption class="card__titulo">
								Bob Marley - R.I.P
							</figcaption>
							<p class="news__description">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Blanditiis, enim ipsa! Ea ipsa
								aliquam explicabo nobis voluptates numquam
								assumenda?
							</p>
							<span class="news__footer">LUANDA</span>
						</div>
					</figure>
					<figure class="news__card editor__card">
						<img
							class="news__imagem"
							src="./assets/img/naom_61a541f71684b.jpg"
							alt=""
						/>
						<div class="card__body">
							<figcaption class="card__titulo">
								Bob Marley - R.I.P
							</figcaption>
							<p class="news__description">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Blanditiis, enim ipsa! Ea ipsa
								aliquam explicabo nobis voluptates numquam
								assumenda?
							</p>
							<span class="news__footer">LUANDA</span>
						</div>
					</figure>
				</div>
				<aside class="latest__news">
					<h2 class="latest__title">Ultima hora</h2>
					<ul class="list__news">
						<li class="item__news">
							<span class="item__bol">1</span>
							<span class="item__description"
								>Lorem ipsum dolor sit amet consectetur
								adipisicing
							</span>
						</li>
						<li class="item__news">
							<span class="item__bol">2</span>
							<span class="item__description"
								>Lorem ipsum dolor sit amet consectetur
								adipisicing
							</span>
						</li>
						<li class="item__news">
							<span class="item__bol">3</span>
							<span class="item__description"
								>Lorem ipsum dolor sit amet consectetur
								adipisicing
							</span>
						</li>
						<li class="item__news">
							<span class="item__bol">4</span>
							<span class="item__description"
								>Lorem ipsum dolor sit amet consectetur
								adipisicing
							</span>
						</li>
						<li class="item__news">
							<span class="item__bol">5</span>
							<span class="item__description"
								>Lorem ipsum dolor sit amet consectetur
								adipisicing
							</span>
						</li>
					</ul>
				</aside>
			</div>

			<div class="future-planet reels news__group">
				<!-- <img src="../assets/img/Neckertal_20150527-6384.jpg" class="reels__image" alt=""> -->
				<div class="reels__header">
					<div>
						<h2 class="future__title">Future Planet</h2>
						<p>The most amazing videos from the BBC</p>
					</div>
					<span class="reels__button">Visit Future Planet</span>
				</div>
				<figure class="news__card">
					<img
						class="news__imagem"
						src="./assets/img/naom_61a541f71684b.jpg"
						alt=""
					/>
					<div class="card__body">
						<figcaption class="card__titulo">
							Bob Marley - R.I.P
						</figcaption>
					</div>
				</figure>
				<figure class="news__card">
					<img
						class="news__imagem"
						src="./assets/img/naom_61a541f71684b.jpg"
						alt=""
					/>
					<div class="card__body">
						<figcaption class="card__titulo">
							Bob Marley - R.I.P
						</figcaption>
					</div>
				</figure>
				<figure class="news__card">
					<img
						class="news__imagem"
						src="./assets/img/naom_61a541f71684b.jpg"
						alt=""
					/>
					<div class="card__body">
						<figcaption class="card__titulo">
							Bob Marley - R.I.P
						</figcaption>
					</div>
				</figure>
			</div></main>
		<script type="module" src="./assets/js/controller/NewsControlador.js"></script>
	</body>
</html>