.menu__lista {
    display: flex;
    height: fit-content;
    color: white;
    font-weight: 700;
    font-size: 1.1em;
    justify-content: space-between;
    padding: 1em;
    background-color: rgb(187, 24, 25);;
}