.conteudo {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    /* background-color: #fdfdfd; */
    background-image: url("../../img/Windows-11-Wallpaper02.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}