.card__titulo {
    font-size: 1.15em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-align: justify;
    font-family: Roboto, Helvetica, sans-serif;
    text-transform: uppercase;
}

.editor__main .card__titulo {
    color: white;
}