.header__item {
    display: flex;
    height: 3em;
    align-items: center;
    padding: .1em;
    font-weight: bold;
    font-size: .9em;
    justify-content: center;
    width: 100vw;
    color: rgb(53, 53, 53);
    border-right: .5px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

.header__item * {
    font-family: Arial, Helvetica, sans-serif;
}

.header__item:last-child {
    border-right: none;
    padding: .1em 1em;
}