@font-face {
    font-family: Roboto;
    src: url("../../../fonts/Roboto-Regular.ttf");
}

.editors__title {
    border-left: 5px solid #47a1d8;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    grid-column: 1/3;
}