.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    width: 25em;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
}