@import url("./bootstrap-5.1.1-dist/css/bootstrap.css");
@import url("./reset.css");
@import url("./normalize.css");
@import url("./style.css");
@import url("./cabecalho/header-first/header.css");
@import url("./cabecalho/header-first/header-first.css");
@import url("./cabecalho/header-first/header-item.css");
@import url("./cabecalho/header-first/header-list.css");
@import url("./cabecalho/header-second/header-second.css");
@import url("./cabecalho/header-second/header-item-second.css");
@import url("./cabecalho/header-second/header-list-second.css");
@import url("./cabecalho/header-second/logo-second.css");
@import url("./conteudo/conteudo.css");
@import url("./conteudo/card-titulo.css");
@import url("./cabecalho/active.css");
@import url("./conteudo/big-card.css");
@import url("./conteudo/_card.css");
@import url("./conteudo/card-body.css");
@import url("./conteudo/card__imagem.css");
@import url("./conteudo//news/news-group.css");
@import url("./conteudo/news/group-title.css");
@import url("./conteudo/news/news-card.css");
@import url("./conteudo/news/news-imagem.css");
@import url("./conteudo/news/news-footer.css");
@import url("./conteudo/news/news-description.css");
@import url("./conteudo/reels/reels.css");
@import url("./conteudo/reels/reels-header.css");
@import url("./conteudo/reels/reels-titulo.css");
@import url("./conteudo/reels/reels-button.css");
@import url("./conteudo/reels/reels-news-card.css");
@import url("./conteudo/africa-news/africa-news.css");
@import url("./conteudo/editors-pick/editor-news.css");
@import url("./conteudo/editors-pick/editors-pick.css");
@import url("./conteudo/editors-pick/latest-news/latest-news.css");
@import url("./conteudo/editors-pick/latest-news/list-news.css");
@import url("./conteudo/editors-pick/latest-news/item-news.css");
@import url("./conteudo/editors-pick/latest-news/latest-title.css");
@import url("./conteudo/editors-pick/latest-news/item-bol.css");
@import url("./conteudo/editors-pick/latest-news/item-description.css");

@import url("./conteudo/editors-pick/editors-title.css");
@import url("./conteudo/editors-pick/editor-main.css");
@import url("./conteudo/editors-pick/main-description.css");
@import url("./conteudo/editors-pick/editor__card.css");
@import url("./conteudo/planet green/future-planet.css");
@import url("./conteudo/planet green/future-title.css");
@import url("./conteudo/business/business.css");
@import url("./conteudo/more-around/more-around.css");
@import url("./conteudo/editors-pick/main-image.css");

@import url("./conteudo/reels/reels-image.css");

@import url("./cabecalho/header-first/logo.css");
