body {
    overflow-x: hidden;
    /* background: rgb(247, 231, 10); */
}

:root {
    --footerDesporto: rgb(247, 231, 10);
    --footerMundo: rgb(14, 172, 220);
    --footerAmbiente: rgb(46, 192, 36);
    --footerSociedade: rgb(20, 38, 179);
    --footerEntretenimento: rgb(136, 17, 152);
    --footerAfrica: rgb(0, 99, 16);
}
